.footer-container {
  background-color: #172337;
  padding: 0em 1em;
}
.lists {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
  .list {
    margin: 2em 2em;
    list-style-type: none;
    font-size: 0.8em;
    .first-elem {
      color: grey;
    }
    .list-item {
      padding: 0.2em 0em;
    }
    .list-item:hover {
      text-decoration: underline;
    }
  }
  .vl {
    height: 10em;
    border-left: 0.1em solid grey;
    position: relative;
    top: 1.75em;
    margin-right: 1em;
  }
}
.hl {
  height: 0.1em;
  background-color: grey;
  width: 100%;
}
.final-credits {
  display: flex;
  justify-content: space-evenly;
  li {
    color: white;
    margin: 1rem 1rem;
    font-size: 0.9em;
  }
  list-style-type: none;
}
